{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        $( document ).ready(function() {
                var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
        });
    </script>
{% endblock %}
{% block title %}Create a Post{% endblock %}
{% block content %}
<div class="bg-white">
    <div class="welcome-banner">
        <div class="container">
            <h2 class="title"><span>Create a new Post</span></h2>
        </div>
    </div>
    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center mt-5 mb-5">

          <div class="col-md-12">
                <form method="POST", action="">
                         {{ form.hidden_tag() }}
                        <div class="form-outline mb-4">
                            {{ form.title.label(class="form-label") }}
                              {% if form.title.errors %}
                                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.title.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                              {% else %}
                                    {{ form.title(class="form-control form-control-lg") }}
                              {% endif %}
                        </div>

                        <div class="form-outline mb-4">
                              {% if form.content.errors %}
                                    {{ form.content(class="is-invalid", id="editor") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.content.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                              {% else %}
                                    {{ form.content(id="editor") }}
                              {% endif %}
                        </div>
                    {{ form.submit(class="btn btn-primary") }}
                    </form>

          </div>

        </div>

    </div>

</div>
{% endblock %}