{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="bg-gray">

    <div class="container">
        <div class="row">
            {% include "components/side_bar.html" %}

            <div class="col-lg-9 col-md-8 mb-5 mt-4" style="min-height:1000px;">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                              {% for category, message in messages %}
                                <div class="alert alert-{{ category }}  shadow-sm">
                                <i class="fa-solid fa-circle-info me-2"></i>{{ message }}
                                </div>
                              {% endfor %}
                            {% endif %}
                     {% endwith %}
                    <div class="create-post shadow-sm">

                <form method="POST", action="">
                                 {{ form.hidden_tag() }}
                                <div class="form-outline mb-4">
                                    {{ form.title.label(class="form-label") }}
                                      {% if form.title.errors %}
                                            {{ form.title(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.title.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                      {% else %}
                                            {{ form.title(class="form-control form-control-lg") }}
                                      {% endif %}
                                </div>

                                <div class="form-check mb-3">
                                    {{ form.is_public(class="form-check-input", id="flexCheckDefault") }}
                                    {{ form.is_public.label(class="form-check-label", for="flexCheckDefault") }}
                                </div>

                                <div class="form-outline mb-4">
                                      {% if form.content.errors %}
                                            {{ form.content(class="is-invalid", id="editor") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.content.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                      {% else %}
                                            {{ form.content(id="editor") }}
                                      {% endif %}
                                </div>

                                <div class="form-outline mb-4">
                                    {{ form.tags.label(class="form-label") }}
                                    {{ form.tags(class="form-control form-control-lg awesome-select") }}
                                </div>

                            {{ form.submit(class="btn btn-primary me-3") }}
                            </form>
                    </div>
            </div>


        </div>



        </div>
    </div>
</div>

{% endblock %}