<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Activation</title>
</head>
<body style="font-family: Arial, serif;">
<h2 style="color:#999;font-size:1.2em;font-weight:lighter">Eureka Tags Account</h2>

<h1 style="color:blue;font-weight: normal">Account activation Instructions</h1>

<p>Hello, {{ recipient_name }}</p>
<p>Thank you for using Eureka Tags ! Click the following  <a href="{{ activation_link }}">link</a> to activate your account.

</p>

<p>Thanks,<br/> Eureka Tags</p>

</body>
</html>