<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body style="font-family: Arial, serif;">
<h2 style="color:#999;font-size:1.2em;font-weight:lighter">Eureka Tags Account</h2>

<h1 style="color:blue;font-weight: normal">Password Reset Instructions</h1>

<p>Hello, {{ recipient_name }}</p>
<p>
    To reset your password, visit the following <a href="{{ reset_link }}">link</a>
</p>
<p>If you did not make this request then simply ignore this email and no changes will be made.</p>
<p>Thanks,<br/> Eureka Tags</p>

</body>
</html>