body{
        background-color: #FFF;
        font-size:0.9em;
}

div.header{
        background-color:#FFF;
}
div.search{
    width:100%;
}
div.search input{
    background:#EDF3F8;
    border:0 !important;
    height:45px;
    background-image:url('../images/search_icon.png');
    background-repeat:no-repeat;
    background-position: 15px 50%;
    padding-left: 42px;
    border-radius: 35px;
}

div.intro{
        background-color: #263FFF;
        background-image: url('../images/hero-1-bg.png')
}

img.logo{
        height: 60px;
}

a.btn-custom{
        text-decoration: none;
        display: inline-block;
        padding:17px 25px;
        font-weight: bolder;
        color:#000;
        cursor: pointer;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        text-transform: uppercase;
}

a.btn-login{
        background-color: #f6e58d;
}

a.btn-create{
        background-color: #FFF;
        font-weight: bolder;
        color:#2E4CFF;
}

a.btn-learn{
        color:#FFF;
        background-color: #012ead;
        font-weight: bolder;
}

div.divider {
    background: #078cfc;
    height: 3px;
    margin: 15px auto;
    width: 50px;
}

h2.styled-header{
    font-weight:normal;
}


div.feature{
        text-align:left;
        margin-bottom:200px;
}

p.quote {
    font-size:1.5em;
    font-style:italic;
}
span.feature-number {
    background: #2C4AFF;
    font-size: 3em;
    display: inline-block;
    padding: 30px 51px;
    border-radius: 100%;
    color:#FFF;
}

div.feature a {
        font-size: 1.3em;
        text-decoration: none;
}

div.feature h4 {
        font-size: 2.0em;
        margin-bottom:20px;
        margin-top:30px;
}
div.feature i.icon{
        font-size:3em;
        color: #091E42;
        background: #DEEBFF;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        line-height: 100px;
        vertical-align: middle;
}
div.features {
        padding-top: 100px;
}

div#about{
    background: #F4EDE4;
    min-height:700px;
    padding-top:40px;
}
a.social-link {
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 1.6em;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    background:#000;
}

a.social-link:hover {
    background:#2A56F1;
}
.text-justify{
    text-align: justify;
}
div.footer{
    background: #2A56F1;
    padding:30px 0;
}
div.footer p{
    padding:20px 0 0 0;
}

div.dashboard-item{
    height:160px;
    background: #ffffff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(73,80,87,0.25) !important;
    box-shadow: 0 0.5rem 1rem rgba(73,80,87,0.25) !important;
    margin-bottom:20px;
    text-align: center;
}
.dashboard-item a{
    text-decoration: none;
    color:#427CAA;
    font-weight:bolder;
}
.dashboard-item a:hover{
    color:#2C9EE0;
    text-decoration:underline;
}
.dashboard-item img{
    width:80px;
    margin-top:25px;
}
h2.title, h3.title {
    font-weight: 400;
    font-size: 1.6em;
    line-height: 18px;
    margin: 20px 0 22px;
    letter-spacing: -1px;
    border-left: 5px solid #078CFC;
    padding-left: 10px;
}


div.welcome-banner{
    background: #F2F1F4;
    height: 82px;
    padding-top: 18px;
    margin-top:-13px;
    border-bottom:1px solid #e1e1e1;
}

div.bg-gray{
    background-color:#F3F2F0;
}

img.profile-icon{
    width:80px;
}

.profile-details h3{
    font-size: 1.2em;
}

table.full-width{
    width:100%;
    font-size:0.9em;
}
table.full-width tr {
    cursor:pointer;
}
table.full-width tr:hover{
    background:#EEE;
}
table.full-width td{
    padding:5px 10px;
}
span.bold{
    font-weight:bolder;
}

span.separator{
    border-top:1px solid #E8E8E8;
    display:block;
}
#profile h4{
    font-size:1.2em;
}
span.icon-spacer-right {
    padding-right:10px;
}

i.icon-orange{
    color:orange;
    background: -webkit-gradient(linear, left top, left bottom, from(#F8C77E), to(#E7A33E));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#profile .badge {
    font-size:0.9em;
    margin-bottom:10px;
}

div.create-post{
    background:#FFF;
    padding:30px;
    border-radius: 35px;
    padding-left: 1.6rem;
}
span.create-post {
    text-decoration:none;
    color:#666;
    font-weight:bolder;
    cursor: pointer;
}
div.simply-hidden {
    display:none;
}

div.meta {
    margin: 8px 0 10px 0
}

ul.post-tags {
    padding: 0;
    margin: 0;
    clear: both
}

ul.post-tags li {
    list-style: none;
    display: inline-block;
    padding-left: 25px;
    margin: 0 16px 10px 0px;
    color: #888888
}

ul.post-tags li a {
    color: #888888;
    text-decoration: none;
    margin-top: 13px
}

ul.post-tags li.date {
    background: url('../images/meta.png') 0% -4% no-repeat
}

ul.post-tags li.author {
    background: url('../images/meta.png') 0% 28% no-repeat
}

ul.post-tags li.tags {
    background: url('../images/meta.png') 0% 58% no-repeat
}

div.information a.information-header{
    font-size:0.9em;
    text-decoration:none;
}

div.information {
    padding:30px 25px;
}

ul.side-menu{
    padding:0;
    margin:0;
    list-style:none;
}

ul.side-menu li{
    margin-bottom:10px;
    padding:10px 0;
        border-bottom:1px solid #eee;
}

ul.side-menu li a{
    text-decoration:none;
    color:#666;
    font-size:1.0em;
}

ul.side-menu li a:hover{
    color:#000;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}

img.login-logo{
    margin-top:100px;
}