{% extends "authentication/authentication_base_layout.html" %}

{% block title %}Create a new account{% endblock %}
{% block form %}
<form style="width: 23rem;" method="POST", action="">

    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create a new account</h3>
        {{ form.hidden_tag() }}
      <div class="form-outline mb-4">
          {{ form.full_name.label(class="form-label") }}
          {% if form.full_name.errors %}
                {{ form.full_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.full_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
          {% else %}
                {{ form.full_name(class="form-control form-control-lg") }}
          {% endif %}
      </div>

    <div class="form-outline mb-4">
           {{ form.email.label(class="form-label") }}
           {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
           {% else %}
               {{ form.email(class="form-control form-control-lg") }}
          {% endif %}

    </div>

    <div class="form-outline mb-4">
        {{ form.password.label(class="form-label") }}
        {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
           {% else %}
                {{ form.password(class="form-control form-control-lg") }}
          {% endif %}
    </div>

    <div class="pt-1 mb-4">
        {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
    </div>

    <p class="small mb-5 pb-lg-2"><a class="text-muted" href="{{  url_for('authentication_pages.reset') }}">Forgot password?</a></p>
    <p>I have an account <a href="{{  url_for('authentication_pages.login') }}" class="link-primary">Sign-in here</a></p>

 </form>
{% endblock %}








