{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="bg-gray">

    <div class="container">
        <div class="row">
            <div class="col-lg-3 bg-white mt-4 shadow-sm rounded mb-5" id="profile">
                <div class="container-lg mt-4 align-content-end">
                    <div class="text-center profile-details">
                        <img src="../static/images/user_icon.png" class="profile-icon" />
                        <h3 class="mt-3 mb-3">{{ current_user.full_name }}</h3>
                    </div>
                    <span class="separator mb-3"></span>

                    <table class="full-width mb-3">
                        <tr>
                            <td><span class="bold">Total Posts</span></td>
                            <td class="text-end">0</td>
                        </tr>
                        <tr>
                            <td><span class="bold">Total Tags</span></td>
                            <td class="text-end">0</td>
                        </tr>
                    </table>

                    <span class="separator mb-3"></span>
                    <h4><span class="icon-spacer-right"><i class="fa-solid fa-tags icon-orange"></i></span>My Tags</h4>

                    <span class="badge rounded-pill bg-secondary">Python</span>
                    <span class="badge rounded-pill bg-secondary">MySQL</span>
                    <span class="badge rounded-pill bg-secondary">Puppet</span>
                    <span class="badge rounded-pill bg-secondary">C</span>
                    <span class="badge rounded-pill bg-secondary">jQuery</span>

                    <span class="separator mt-3 mb-3"></span>
                     <ul class="side-menu">
                         <li><a href="#"><span class="icon-spacer-right"><i class="fa-solid fa-signs-post"></i></span>Manage Posts</a></li>
                        <li><a href="#"><span class="icon-spacer-right"><i class="fa-solid fa-tags"></i></span>Manage Tags</a></li>
                        <li><a href="#"><span class="icon-spacer-right"><i class="fa-solid fa-screwdriver-wrench"></i></span>Account Settings</a></li>
                        <li><a href="#"><span class="icon-spacer-right"><i class="fa-solid fa-circle-question"></i></span>Help</a></li>
                     </ul>
                </div>
            </div>

            <div class="col-lg-9 col-md-8 mb-5" style="min-height:1000px;">

                <div class="container-lg mt-4 align-content-end" id="create-post">
                     {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                              {% for category, message in messages %}
                                <div class="alert alert-{{ category }} mt-5">
                                  {{ message }}
                                </div>
                              {% endfor %}
                            {% endif %}
                     {% endwith %}
                    <div class="create-post shadow-sm">
                        <a href="#create-post"  class="create-post">Create a Post ... </a>
                        <div class="col-md-12 mt-5 simply-hidden">
                            <form method="POST", action="">
                                 {{ form.hidden_tag() }}
                                <div class="form-outline mb-4">
                                    {{ form.title.label(class="form-label") }}
                                      {% if form.title.errors %}
                                            {{ form.title(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.title.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                      {% else %}
                                            {{ form.title(class="form-control form-control-lg") }}
                                      {% endif %}
                                </div>

                                <div class="form-check mb-3">
                                    {{ form.is_public(class="form-check-input", id="flexCheckDefault") }}
                                    {{ form.is_public.label(class="form-check-label", for="flexCheckDefault") }}
                                </div>

                                <div class="form-outline mb-4">
                                      {% if form.content.errors %}
                                            {{ form.content(class="is-invalid", id="editor") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.content.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                      {% else %}
                                            {{ form.content(id="editor") }}
                                      {% endif %}
                                </div>

                                <div class="form-outline mb-4">
                                    {{ form.tags.label(class="form-label") }}
                                    {{ form.tags(class="form-control form-control-lg awesome-select") }}
                                </div>

                            {{ form.submit(class="btn btn-primary me-3") }}
                                <span class="btn btn-danger cancel-create-post">Cancel</span>
                            </form>
                      </div>


                    </div>

                </div>

                <div class="container-lg mt-4 align-content-end">

                     <div class="shadow-sm bg-white rounded information mb-3">
                         <div class="container">
                            <h3><a href="#" class="information-header">How to create a virtualenv in Python 3</a></h3>
                           <div class="col-lg-12 meta mt-3">
                                <ul class="post-tags">
                                    <li class="date">26 <a href="/blog/archives/september/2015">September 2015</a></li>
                                    <li class="author">by <a href="#" title="Posts by admin" rel="author">admin</a></li>
                                    <li class="tags"><a href="/blog/topic/web" rel="category tag">web</a></li>
                                </ul>

                           </div>
                             <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                 eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                 Nemo enim ipsam voluptatem quia
                                 voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                             <a href="#" class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">Read more >></a>
                         </div>
                    </div>



                </div>


            </div>


        </div>



        </div>
    </div>
</div>

{% endblock %}