<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Eureka Tags | {% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/c3d9459517.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <link href="/static/styles/main.css" rel="stylesheet">
        <link href="/static/styles/header.css" rel="stylesheet">
        <link rel="icon" href="/static/images/icon.png" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>

        <script>
            $( document ).ready(function() {
                    var simplemde = new SimpleMDE({
                            element: document.getElementById("editor"),
                            autofocus: true,
                            initialValue: "",
                            placeholder: "Type here...",
                    });

                    $('.awesome-select').select2({
                           theme: 'bootstrap-5'
                    });

                   $('span.create-post').click(function() {
                        $('div.simply-hidden').fadeIn();
                   });

                   $('span.cancel-create-post').click(function() {
                        $('div.simply-hidden').fadeOut();
                   });
            });
        </script>

    {% endblock %}
</head>

<body>
{% block body %}
    {% block header %}
        <div class="header">
            <nav id="my-navigation-bar" class="navbar navbar-expand-lg navbar-light border-bottom bg-white">
                <div class="container-lg">
                    <a href="/" class="navbar-brand"><img src="/static/images/app_logo_alt.png" alt="Eureka Tags" class="logo"/></a>
                    <div class="search">
                        <form action="/search" method="GET">
                             <input type="text" class="form-control" name="q" placeholder="Search for something...">
                            <button class="btn btn-primary d-none"></button>
                        </form>

                    </div>

                    <button class="navbar-toggler" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#main-nav"
                            aria-controls="main-nav"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                        <ul class="navbar-nav">
                            <li class="nav-item current first"><a href="/" class=" nav-link">Home</a></li>
                            <li class="nav-item"><a href="#" class=" nav-link">About</a></li>
                            <li class="nav-item last"><a href="#" class=" nav-link">Contact</a></li>
                        </ul>
                        {% if current_user.is_authenticated %}
                         <div class="dropdown account-menu">
                                <a class="dropdown-toggle btn btn-secondary text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    My Account
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Profile Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Change Password</a></li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <a class="ms-3 btn btn-primary" href="/login">Login</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block footer %}
        <div class="footer">
            <div class="container-lg">
               <p class="text-light"> &copy; 2023 Eureka Tags</p>
            </div>
        </div>
    {% endblock %}

        </body>
{% endblock %}
</html>